@import "~styles/variables";

.dialogs {
  width: 300px;
  &__item {
    $item: &;
    display: flex;
    margin-bottom: 20px;
    &-avatar {
      margin-right: 10px;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    &-online {
      #{$item}-avatar {
        position: relative;
        &::before {
          display: block;
          position: absolute;
          content: "";
          background: $green;
          border: 2px solid #fff;
          border-radius: 30px;
          width: 12px;
          height: 12px;
          bottom: 1px;
          right: 1px;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &-top {
        display: flex;
        justify-content: space-between;
        p {
          font-weight: 500;
          font-size: 14px;
          flex: 1;
          margin-bottom: 6px;
        }
        span {
          opacity: 0.4;
        }
      }
      &-bottom {
        display: flex;
        justify-content: space-between;
        position: relative;
        p {
          opacity: 0.5;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 230px;
          height: 1.2em;
          white-space: nowrap;
        }

        &-count {
          position: absolute;
          right: 0;
          bottom: 0;
          background-color: #f46b6b;
          color: #fff;
          font-weight: bold;
          width: 18px;
          height: 18px;
          border-radius: 30px;
          font-size: 11px;
          text-align: center;
          line-height: 1.7;
        }
      }
    }
  }
}
