@import "~styles/variables";

.message {
  // padding: 50px;
  $self: &;
  display: flex;
  margin-bottom: 15px;
  &__avatar {
    display: flex;
    margin: 0 15px;
    img {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
    }
  }

  &__content {
    max-width: 440px;
    #{$self}__bubble {
      border: 1px solid #ececec;
      padding: 15px;
      background-color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.022);
      border-radius: 0px 12px 12px 12px;
      margin-bottom: 8px;
    }
  }

  &__attachments {
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;

    &-item {
      img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  &__checked {
    display: none;
  }

  &__date {
    font-size: 12px;
    opacity: 0.4;
  }

  &--is-audio {
    audio {
      display: none;
    }
    #{$self}__bubble {
      position: relative;
      overflow: hidden;
      width: 250px;
    }

    #{$self}__audio {
      &-info {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
      }
      &-btn {
        button {
          cursor: pointer;
          border: none;
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: #0f3997;
          img {
            width: 13px;
          }
        }
      }

      &-duration {
        color: #fff;
        font-weight: 500;
        opacity: 0.5;
        font-size: 12px;
      }
      &-progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: #418fff;
        transition: 0.3s ease-in;
      }
    }
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__avatar {
      img {
        margin-left: 13px;
        margin-right: 0;
      }
    }

    #{$self}__content {
      display: flex;
      flex-direction: column;
    }

    #{$self}__checked {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 20px;
      margin-right: 10px;
    }

    #{$self}__date {
      display: flex;
      justify-content: flex-end;
    }

    #{$self}__bubble {
      border-radius: 12px 0px 12px 12px;
      background: $blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.19);

      #{$self}__text {
        color: #fff;
      }
    }
  }

  p {
    color: $black;
    line-height: 20px;
    margin-bottom: 0;
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: $message-typing-blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $message-typing-circle;
      display: inline-flex;
      margin: 0 0 0 8px;

      &:first-child {
        margin: 0;
      }

      &:nth-of-type(1) {
        animation: typingAnimation 1s ease-in-out infinite;
        animation-direction: normal;
      }

      &:nth-of-type(2) {
        animation: typingAnimation 1s ease-in-out infinite;
        animation-direction: normal;
      }

      &:nth-of-type(3) {
        animation: typingAnimation 1s ease-in-out infinite;
        animation-direction: normal;
      }
    }
  }
}

@keyframes typingAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
